name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: shegezzy/hello-world-api

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.13

    - name: Install dependencies
      run: |
        python -m venv venv
        source venv/bin/activate
        pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest flake8

    - name: Lint code
      run: |
        source venv/bin/activate
        flake8 app tests

    - name: Run tests
      run: |
        source venv/bin/activate
        PYTHONPATH=. pytest tests

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: |
        docker build -t $IMAGE_NAME:${{ github.sha }} .

    - name: Push Docker image
      run: |
        docker push $IMAGE_NAME:${{ github.sha }}
    
    - name: Security scan with Trivy
      uses: aquasecurity/trivy-action@master
      with:
      image-ref: ${{ env.IMAGE_NAME }}:${{ github.sha }}
      severity: HIGH,CRITICAL
      scan-type: image
